/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 12px;
    overflow-y: scroll;
    background: #e7e7ffaa;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: #007aff79;
    border-radius: 16px;
}

* {
    scrollbar-width: 12px;
    scrollbar-color: #007aff79 #e7e7ffaa;
  }